.feed {
    min-height: 920px;
    padding-bottom: 48px;
    &__block {
        display: flex;
        margin-top: 60px;
        gap: 60px;
    }
    &__author {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        span {
            font-size: 14px;
            font-weight: 300;
            color: #646464;
        }
    }
    &__descr {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }
}